@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Josefin Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-x: clip;
}
header {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.08);
}
.footer {
  border-top: 1px solid rgb(0 0 0 / 0.08);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea {
  border: 1px solid #00000052;
}

.nav-link {
  font-size: 12.5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.barlow {
  font-family: "Barlow", sans-serif;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-text {
  color: #ffffff;
  text-shadow: 1px 1px 1px #00000078;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.84px;
}
.hero-text-no-shadow {
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.84px;
}

.parallax {
  background-attachment: fixed;
  transform: translate3d(0, 0, 0);
}

.hero-overlay {
  position: absolute;
  bottom: 0;
  padding-bottom: 10%;
  padding-top: 2%;
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.05) 10%,
    rgba(0, 0, 0, 0.1) 20%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.3) 80%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.hero-title {
  text-shadow: 2px 2px 2px #00000078;
}

.checkbox {
  display: none;
}

.checkbox > label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-toggler {
  border: none;
  position: relative;
}

.bar {
  background-color: black;
  border-radius: 50px;
  transition: 0.2s;
}

.hamburger {
  width: 30px;
  margin-top: 30px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1,
.bar2 {
  top: 0;
  transform: rotate(180deg);
}

.bar2 {
  top: 5.5px;
}

.checkbox:checked + label > .hamburger > .bar1 {
  transform: rotate(45deg);
}

.checkbox:checked + label > .hamburger > .bar2 {
  transform: rotate(-45deg);
  top: 0;
}

.custom-toggler:focus,
.custom-toggler:active,
.custom-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
